TZ=Asia/Jakarta
BACKEND_PORT=8080
WEB_PORT=3000
FRONTEND_ORIGIN="http://localhost:3000"

SITE_URL="http://localhost:3000"
BACKEND_URL="http://localhost:8080"
NEXT_PUBLIC_BACKEND_HTTP="http://localhost:8080"
NEXT_PUBLIC_BACKEND_WS=ws://localhost:8080
